body {
  font-family: 'PT Sans', sans-serif; }

a:hover {
  text-decoration: none; }

#landing {
  background-color: #ebebeb; }
  #landing .logo {
    position: relative;
    left: -33px; }
  #landing .logo-row {
    margin-bottom: 15px; }
  #landing h3 {
    color: #6F1DBD; }
  #landing ul {
    margin-left: 97px;
    margin-top: 22px; }
  #landing ul li {
    display: inline; }
  #landing .col-custom {
    color: #9c9c9c;
    border: 1px solid #F7F1F1;
    border-bottom: 2px solid #6F1DBD;
    font-weight: bold;
    text-align: center;
    background-color: #FFF;
    padding: 1em 2.5em;
    width: 140px;
    height: 90px; }
    #landing .col-custom i {
      margin-bottom: .4em; }
    #landing .col-custom:hover {
      border-bottom: 10px solid #6F1DBD;
      height: 96px;
      margin-top: -6px; }
      #landing .col-custom:hover i {
        color: #6F1DBD; }
      #landing .col-custom:hover p {
        color: #6F1DBD; }
  #landing .form-custom {
    display: inline; }
  #landing .form-control-custom {
    display: inline;
    font-size: 11px;
    font-weight: bold;
    width: 39%;
    border-radius: 0;
    padding: 1.7em;
    border: 1px solid #ebebeb; }
  #landing .quick-link {
    color: #9c9c9c;
    font-weight: bold;
    font-size: .9em; }
  #landing .map-icon {
    color: #9c9c9c; }
  #landing .select-dropdown {
    margin-left: 20px;
    margin-right: 20px;
    color: #6F1DBD;
    font-weight: bold; }
  #landing .fa-sort {
    margin-left: -18px;
    margin-right: 15px;
    color: #6F1DBD; }
  #landing .fa-clock-o {
    position: relative;
    right: 40px;
    top: 7px;
    color: #6F1DBD; }

#landing-image {
  height: 70vh;
  background-size: cover;
  background-image: url("../img/slide-traveler.png");
  position: relative; }
  #landing-image .landing-bubble {
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translateX(-50%);
    color: #fff;
    border: 5px solid #520F5A;
    border-radius: 50%;
    padding: 12px;
    background-color: #520F5A; }

#map {
  background-color: #2D2D2D;
  color: #FFF;
  padding-bottom: 65px; }
  #map .map-heading {
    text-align: center;
    font-size: 29px;
    letter-spacing: 1.5px;
    padding-top: 10px; }
  #map .map-head-paragraph {
    color: #6F1DBD;
    font-weight: bold;
    text-align: center; }
  #map .map-col-custom {
    width: 259px; }
  #map .img-icons {
    margin-right: 100px; }

#display-screen {
  background-color: #222222;
  max-height: 500px;
  overflow-y: hidden;
  text-align: center; }
  #display-screen img {
    padding-top: 3em; }
  #display-screen .display-heading {
    position: relative;
    top: 28em;
    color: #fff;
    letter-spacing: 2px; }

#team {
  background-color: #ebebeb;
  padding-top: 36px; }
  #team .row-team {
    padding-bottom: 33px; }
  #team .team-heading {
    color: #9c9c9c;
    text-align: center;
    letter-spacing: 4px; }
  #team .team-paragraph {
    color: #9c9c9c;
    text-align: center;
    padding-bottom: 20px; }
  #team .col-team {
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 27.4em;
    padding: 40px; }
    #team .col-team i {
      position: absolute;
      left: 1px;
      top: 1px;
      background-color: purple;
      padding: 7px 10px;
      color: white; }
  #team .col-team-2 {
    background-color: #fff;
    padding: 36px;
    width: 67%; }
  #team .full-col-p {
    color: #6F1DBD;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 30px;
    line-height: 22px; }
  #team .carousel-inner > .item > img {
    display: inline;
    #height: 230px;
    #margin-right: 6px; }
  #team .winning-row {
    margin-top: 40px; }
  #team .carousel-indicators {
    top: 220px; }
    #team .carousel-indicators li {
      background-color: #2D2D2D; }
    #team .carousel-indicators .active {
      background-color: purple; }
  #team .row-customteam2 {
    position: relative;
    left: -40px; }
  #team .item i {
    top: -39px;
    left: 119px;
    position: relative;
    background-color: purple;
    padding: 7px 11px;
    color: white;
    font-size: 18px; }
  #team .item p {
    position: relative;
    top: -25px; }
    #team .item p:first-of-type {
      font-weight: bold;
      margin-bottom: 0px;
      font-size: 16px;
      color: #7B7B7B; }
    #team .item p:last-child {
      font-size: 13px;
      color: #777; }

#footer-traveller {
  background-color: #2D2D2D;
  border-top: 3px solid #6F1DBD;
  color: #FFF;
  padding-bottom: 140px; }
  #footer-traveller img {
    position: relative;
    left: -24px; }
  #footer-traveller ul.footer-li {
    margin-top: 23px;
    margin-bottom: 60px; }
  #footer-traveller ul.footer-li li {
    margin-right: 11px;
    display: inline;
    color: #fff;
    border-right: 2px solid #3F3F3F;
    padding-right: 12px;
    font-size: 13px; }
    #footer-traveller ul.footer-li li:hover {
      border-bottom: 2px solid #6F1DBD;
      padding-bottom: 5px; }
    #footer-traveller ul.footer-li li:last-child {
      border-right: none; }
  #footer-traveller ul.footer-social-li li {
    margin-right: 11px;
    display: inline;
    color: #fff;
    padding-right: 12px;
    font-size: 13px; }
    #footer-traveller ul.footer-social-li li i {
      margin-right: 5px; }
  #footer-traveller ul.footer-li-2 {
    padding-left: 0px; }
  #footer-traveller ul.footer-li-2 li {
    display: inline;
    color: #fff;
    font-size: 13px;
    margin-right: 15px; }
  #footer-traveller .footer-p {
    color: #9c9c9c; }

/*# sourceMappingURL=app.css.map */
