#display-screen {

	background-color: #222222;
	max-height: 500px;
  overflow-y: hidden;
  text-align: center;
	
	img {

		padding-top :3em;

	}

	.display-heading {
		
		position: relative;
    top: 28em;
    color: $font-color-white;
    letter-spacing: 2px;
  }
}