#footer-traveller {

	background-color:$dark-font-color;
	border-top:3px solid $primary-color;
	color:#FFF;

	img {

		position: relative;
    left: -24px;
	}

	ul.footer-li {

		margin-top:23px;
		margin-bottom:60px;
	}

	ul.footer-li li{
		margin-right: 11px;
    display: inline;
    color: #fff;
    border-right: 2px solid #3F3F3F;
    padding-right: 12px;
    font-size: 13px;
	&:last-child {
		border-right :none;
	}
	}
	
	ul.footer-social-li li {
		margin-right: 11px;
    display: inline;
    color: #fff;
    padding-right: 12px;
    font-size: 13px;

    i {

    	margin-right:5px;
    }
	}

}
