#landing {

	background-color: #ebebeb;
	.logo {
		position: relative;
		left:-33px;
	}
	
	.logo-row {
		margin-bottom: 15px;
	}

	h3{
		color:$primary-color;
	}
	ul
	{
		
		margin-left: 97px;
    margin-top: 22px;
	}

	ul li {

		display:inline;
		
		
	}
	.col-custom {
		color:$light-font-color;
		border:1px solid #F7F1F1;
		border-bottom:2px solid $primary-color;
		font-weight:bold;
		text-align: center;
		
		background-color: #FFF;
		padding:1em 2.5em;
		width:140px;
		
		height:90px;

		i{

			margin-bottom: .4em;
		}


		&:hover {
			
			border-bottom:10px solid $primary-color;
			height:96px;
			margin-top:-6px;

			i {
				color:$primary-color;

			}

			p {
				color:$primary-color;
			}
		}
	}

	.form-custom {
		display:inline;
	}

		.form-control-custom {
		display:inline;
		font-size:11px;
		font-weight:bold;
		width: 39%;
	  border-radius: 0;
	  padding: 1.7em;
	  border:1px solid #ebebeb;

		}

		.quick-link {
			color:$light-font-color;
			font-weight:bold;
			font-size:.9em;
	
	}

	.map-icon {

		color:$light-font-color;
	}
	
	.select-dropdown{
		margin-left:20px;
		margin-right:20px;
		color: $primary-color;
    font-weight: bold;
	}

	.fa-sort{
		margin-left: -18px;
		margin-right: 15px;
		color:#6F1DBD;
	}

	.fa-clock-o {
	position: relative;
  right: 40px;
  top: 7px;
  color: $primary-color;
 }
}


#landing-image {
	height:70vh;
	background-size: cover;
	background-image: url('../img/slide-traveler.png');
	position:relative;

	.landing-bubble {
		position:absolute;
		left:50%;
		top:38%;
		// transform:translateY(-50%);
		transform:translateX(-50%);
		color:#fff;
		border: 5px solid #520F5A;
    border-radius: 50%;
    padding: 12px;
    background-color: #520F5A;
	}

}


