#map {

	background-color: $dark-font-color;
	color:$font-color-white;
	padding-bottom: 65px;


	.map-heading{
	text-align: center;
  font-size: 35px;
  letter-spacing: 1.5px;
  padding-top:10px;
	}

	.map-head-paragraph {
		color:$primary-color;
		font-weight:bold;
		text-align: center;
	}
	.map-col-custom {
		width:259px;
	}

	.icon-move {

		margin-right:28em;
	}

	img.img-icons {
		width: 10%;
	}

	.divider {
    width: 10%;
    display: inline-block;
    border-top: 3px solid #666;
    margin: 0 5%;
    
}

.divider hr {
    margin-left:auto;
    margin-right:auto;
    width:40%;

}

.left {
    float:left;
}

.right {
    float:right;
}


}
