#team {

	background-color: $lighter-font-color;

	.row-team {
		padding-bottom: 33px;
	}
	
	.team-heading {
		
		color: #9c9c9c;
		text-align: center;

		}
	.team-paragraph {
		color: #9c9c9c;
		text-align: center;
	}
	
	.col-team {
		background-color: #fff;
		margin-right:15px;
		margin-bottom:15px;
		width:27.4em;
		padding:40px;
	}

	.col-team-2 {
		background-color: #fff;
    padding: 36px;
    width: 67%;
	}

	.full-col-p {
		color: $primary-color;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 30px;
    line-height: 22px;
		}

	.carousel-inner>.item>img {
		display: inline;
		#height: 230px;
    #margin-right: 6px;
	}

	.winning-row {
		margin-top:40px;
	}

	.carousel-indicators {
		top: 220px;
    
    li 
   {
    background-color: $dark-font-color;
  }

    .active {
    	background-color: purple;
    }
  }

  .row-customteam2 {
  	position:relative;
  	left:-40px;
  }
	
}