#team {

	background-color: $lighter-font-color;

	.row-team {
		margin-bottom : 27px;
	}
	
	.team-heading {
		
		color: #9c9c9c;
		text-align: center;

		}
	.team-paragraph {
		color: #9c9c9c;
		text-align: center;
	}
	
	.col-team {
		background-color: #fff;
		margin-right:15px;
		margin-bottom:15px;
		width:27.4em;
	}

	.col-team-2 {
		background-color: #fff;
		
	}

	.full-col-p {
		color:$primary-color;
		font-weight: bold;
		margin-top: -12px;
		}

	.carousel-inner>.item>img {
		display: inline;
		height: 230px;
    margin-right: 6px;
	}

	.winning-row {
		margin-top:40px;
	}

	.carousel-indicators {
		position: absolute;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
	  top: 242px;
    left: 41%;
    list-style: none;
  }
	
}