#team {

	background-color: $lighter-font-color;
	
	.team-heading {
		
		color: #9c9c9c;
		text-align: center;

		}
	.team-paragraph {
		color: #9c9c9c;
		text-align: center;
	}
	
	.col-team {
		background-color: #fff;
		margin-right:15px;
		margin-bottom:15px;
		width:27.4em;
	}

	.col-team-2 {
		background-color: #fff;
		
	}

	.full-col-p {
		color:$primary-color;
		font-weight: bold;
	}
}